body{
  background-color: pink;
}
#ballons{
  width: 100px;
  height:100px;
}
span{
  position: absolute;

  background: url(ballons.svg);
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%,-50%);
  animation:animate 4s linear infinite;
}
@keyframes animate{
  0%{
    transform: translate(-50%,-50%);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-1000%);
    opacity:0;
  }
}
